@media screen and (max-width: 420px) {
    /* Your responsive styles for mobile devices */
    .top-nav{
        height: 160px;
        width: 258%;
        overflow-x: hidden;
        overflow-y: hidden;
    }

    .logo{
        margin-top: 2rem;
    }

    .search-bar{
        margin-top: 2.4rem;
        height: 4rem;
    }
    .categories>img{
        height: 0;
        width: 0;
        visibility: hidden;
    }
    .categories>span{
        height: 0;
        width: 0;
        visibility: hidden;
    }
    
    .search-input{
        margin-right: 6rem;
        font-size: 2rem;
        width: 90%;
    }
    .compare{
        height: 0;
        width: 0;
        visibility: hidden;
    }

    .wishlist{
        height: 0;
        width: 0;
        visibility: hidden;
    }

    .profile{
        margin-right: 1rem;
    }

    .profile>img{
        height: 4rem;
    }

    .profile>p{
        font-size: 1.6rem;
        margin-top: 1rem;;
    }

    .cart{
        margin-right: 1rem;
    }

    .cart>img{
        height: 4rem;
    }

    .cart>p{
        font-size: 1.6rem;
        margin-top: 1rem;;
    }

    .cart-quantity{
        font-size: 2rem;
        height: 3rem;
        margin-right: -3.7rem;
        top: -1.4rem;
        width: 3rem;
    }
    .bottom-nav{
        height: 0;
        width: 0;
        visibility: hidden;
    }
    .container{
        background-image: none;
        overflow-x: hidden;
        height: 100vh;
        width: 258%;
        display: flex;
        flex-wrap: wrap;
    }

    .left-container{
        margin-left: 0.5rem;
        height: 80vh;
        width: 250%;
    }

    .slider-content>h2{
        font-size: 7rem;
        line-height: 8rem;
        margin-left: 0.5rem;
    }
    .right-container{
        height: 0;
        width: 0;
        visibility: hidden;
    }

    /* <!--📌Grid Section--> */

    .grid-container{
        align-items: center;
        justify-content: center;
        overflow-x: hidden;
        overflow-y: hidden;
        margin-top: 1rem;
        height: 200vh;
        width: 258%;
        display: flex;
        flex-wrap: wrap;
    }

    .grid-container-1{
        background-size: cover;
        height: 60vh;
        width: 100%;
    }

    .grid-container-1-content>p{
        font-size: 3.8rem;
    }

    .grid-container-button{
        margin-top: 7rem;
        height: 4rem;
        font-size: 2.4rem;
        border-radius: 1rem;
    }

    .grid-container-button>img{
        font-size: 2.2rem;
    }

    .grid-container-2{
        background-size: cover;
        height: 60vh;
        width: 100%;
        margin-left: 1rem;
    }

    .grid-container-3{
        margin-left: 1rem;
        background-size: cover;
        height: 60vh;
        width: 100%;
    }

    .grid-container-button-3{
        margin-top: 7rem;
        height: 4rem;
        font-size: 2.4rem;
        border-radius: 1rem;
    }

    .grid-container-button-3>img{
        font-size: 2.2rem;
    }

    .popular-section{
        margin-top: 1rem;
        /* display: flex; */
        height: 15vh;
        width: 80vh;
    }

    .popular-section-heading{
        font-size: 4rem;
    }

    .nav-flex{
        height: 0;
        width: 0;
        visibility: hidden;
    }


    .product-items-section{
        overflow-x: hidden;
        overflow-y: hidden;
        height: 577vh;
        width: 265%;
        display: flex;
        flex-wrap: wrap;
    }

    .product-1{
        margin-left: 14rem;
        height: 90vh;
        width: 70vh;
    }
    

    .product-title{
        font-size: 2.8rem;
        margin-left: 1.5rem;
    }

    .product-rating{
        font-size: 2rem;
        margin-right:19rem;
        margin-top: 0.5rem;
        margin-left: 0rem;
    }

    .price-segment{
        height: 100px;
        width: 500px;
    }
    .product-button{
        height: 90px;
        width: 360px;
        font-size: 2rem;
    }
    .price{
        font-size: 4rem;
    }

    .product-button>img{
        height: 3rem;
        width: 3rem;
    }

    .product-button>button{
        font-size: 3rem;
    }

    .product-2{
        margin-left: 14rem;
        height: 90vh;
        width: 70vh;
    }
    .product-3{
        margin-left: 14rem;
        height: 90vh;
        width: 70vh;
    }
    .product-4{
        margin-left: 14rem;
        height: 90vh;
        width: 70vh;
    }
    .product-5{
        margin-left: 14rem;
        height: 90vh;
        width: 70vh;
    }
    .product-6{
        margin-left: 14rem;
        height: 90vh;
        width: 70vh;
    }
    .product-7{
        height: 0;
        width: 0;
        visibility: hidden;
    }
    .product-8{
        height: 0;
        width: 0;
        visibility: hidden;
    }
    .product-9{
        height: 0;
        width: 0;
        visibility: hidden;
    }
    .product-10{
        height: 90vh;
        width: 70vh;
    }


    .hero-section-2{
        overflow-x: hidden;
        overflow-y: hidden;
        height: 78vh;
        width: 259%;
        margin-left: 1rem;
        margin-top: 5rem;
    }

    .hero-section-2-container{
        height: 70vh;
        width: 259%;
    }

    .hero-section-2-left{
        margin-top: 0rem;
        margin-left: 1.4rem;
        height: 60vh;
    }

    .hero-section-2-left-upper-text{
        font-size: 3rem;
    }

    .hero-section-2-left-down-text{
        font-size: 2rem;
    }
    .hero-section-2-left-down-text>span{
        font-size: 2rem;
    }

    .email-input{
        font-size: 1.3rem;
    }

    .subscribe-btn{
        width: 50%;
    }

    .hero-section-2-right-img{
        margin-top:8rem;
        height: 55vh;
        width: 55vh;
        margin-left: 4rem;
    }

    .icon-container{
        overflow-x: hidden;
        overflow-y: hidden;
        height: 28vh;
        width: 250%;
        display: flex;
        flex-wrap: wrap;
    }
    
    .item-1{
        margin-top: 1rem;
        height: 25vh;
        width: 40vh;
    }

    .item-1-left>img{
        height: 100%;
        width: 120%;
    }

    .item-1-right p:nth-child(1){
        font-size: 2.5rem;
    }

    .item-1-right p:nth-child(2){
        font-size: 1.2rem;
    }

    .best-sell{
        margin-top: 4rem;
        height: 6rem;
        width: 120%;
    }

    .best-sell>h2{
        font-size: 4rem;
    }

    .best-sell-container{
        overflow-x: hidden;
        overflow-y: hidden;
        height: 80vh;
        width: 250%;
    }

    .category-heading{
        height: 10vh;
        margin-top: 1rem;
        font-size: 3rem;
    }

    .category-section{
        height: 32vh;
        width: 250%;
        display: flex;
    }

    .category-items{
        height: 15rem;
        width: 16rem;

        display: flex;
    }

    .category-items-img{
        margin-top: 1.2rem;
    }

    .category-items:nth-child(6){
        height: 0;
        width: 0;
        visibility: hidden;
    }
    .category-items:nth-child(7){
        height: 0;
        width: 0;
        visibility: hidden;
    }
    .category-items:nth-child(8){
        height: 0;
        width: 0;
        visibility: hidden;
    }
    .category-items:nth-child(9){
        height: 0;
        width: 0;
        visibility: hidden;
    }
    .category-items:nth-child(10){
        height: 0;
        width: 0;
        visibility: hidden;
    }
    .category-items:nth-child(11){
        height: 0;
        width: 0;
        visibility: hidden;
    }

    footer{
        font-size: 1rem;
        height: 60vh;
        width: 255%;
    }

    .last-footer{
        width: 250%;
    }

    .copyright{
        width: 50%;
        font-size: 1.3rem;
    }

    .last-footer-contact{
        display: flex;
        margin-left: 5rem;
    }
}